#

export ROOTDIR="$(pwd -P)"

export PATH="${ROOTDIR}/bin:${PATH}"
export PATH="${ROOTDIR}/vendor/bin:${PATH}"
export PATH="${ROOTDIR}/vendor/python/bin:${PATH}"

export GCE_PROJECT="packetfield"
export KEYBASE_TEAM_DIR="/keybase/team/${GCE_PROJECT}"

export GCE_PEM_FILE_PATH="${KEYBASE_TEAM_DIR}/packetfield-d853f51b2b3c.json"
export GCE_EMAIL=$(grep client_email $GCE_PEM_FILE_PATH | sed -e 's/  "client_email": "//g' -e 's/",//g')
export GOOGLE_CREDENTIALS="$(cat $GCE_PEM_FILE_PATH)"
export GCE_INI_PATH="${ROOTDIR}/ansible/inventory/gce.ini"

