ansible==2.4.2.0
ansible-vault==1.1.1
apache-libcloud==2.2.1
asn1crypto==0.23.0
bcrypt==3.1.4
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.4
enum34==1.1.6
future==0.16.0
futures==3.2.0
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.18.3
google-gax==0.12.5
googleapis-common-protos==1.5.3
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.8.1
httplib2==0.10.3
idna==2.6
ipaddress==1.0.18
Jinja2==2.10
MarkupSafe==1.0
oauth2client==4.1.2
paramiko==2.4.0
ply==3.8
protobuf==3.5.0.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
PyNaCl==1.2.1
PyYAML==5.4
requests==2.18.4
rsa==3.4.2
six==1.11.0
urllib3==1.22
